.comp{
  background-color: black;
}
.banner{
  height: 80px;
  background-color: black;
}
.row{
  margin: 120px;
}
.cardsContainer{
  border: none;
  margin-top: 6vh;
  height: 94vh;
  width: 60vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.gridContainer {
  margin-top: 120px;
  border: none;
  margin-right: -10px;
  scroll-snap-align: start;
}
.scrollContainer{
  border: none;
  height: 100%;
  margin: 15px;
}
.card-body{
  border: none;
  border-radius: 25px;
  background-color: var(--WHITE);
  box-shadow: 0 0 150px 15px var(--VIOLET);
  padding: 50px;
}
.titular{
  font-size: 20px;
}
.comp2{
  background-color: black;
}
.formsLocos{
  position: fixed;
  right: 0px;
  top: 35px;
  width: 40vw;
  height: 100vh;
  background-color: white;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--VIOLET);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.extendd{
  height: 30px;
}
.botonesFlotantes{
  display: flex;
  flex-direction: column;
}
.downloadButton{
  bottom:200px;
}
.copyButton{
  bottom:150px;
}
.editButton{
  bottom: 100px;
}
.deleteButton{
  bottom: 50px;
}
.los{
  position:fixed;
  box-shadow: 0 0 3px 0px var(--REDPINKLIGTH);
  border: none;
  background-color: var(--PINK);
  border-radius: 25px;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  left: 833px;
}
.los:hover{
  background-color: var(--PURPLE);
}
.flotInput-container__icon{
  font-size: 18px;
  opacity: 0.3;
}

/*CHECKBOX*/
.scrollContainer {
  /* ... */
  position: relative;
}

.scrollContainer .checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: white;
  transition: border-color 0.3s ease;
}

.scrollContainer .checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-image: url("src/app/assets/assent-mark-o.png");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scrollContainer .checkbox.unchecked::before {
  opacity: 0;
}

.scrollContainer .checkbox.checked {
  border-color: var(--VIOLET);
}

.scrollContainer .checkbox.checked::before {
  opacity: 1;
}
.checkbox{
  margin-top:600px;
  margin-left: 565px;
}
