.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0px;
  background-image: url("src/app/assets/listed.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.landing-text {
  color: var(--LETTER1);
  font-family: Montserrat,sans-serif;
  flex: 1;
  padding-left: 50px;
}

.landing-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

.loginSection{
  margin: 50px;
}
