<div class="landing-container">
  <div class="landing-text">
    <h1>Listed App</h1>
    <p>
      ¿Estás cansado de lidiar con agendas bancarias obsoletas y poco prácticas? ¿Te gustaría tener un sistema fácil de usar y flexible para manejar todas tus cuentas bancarias? Nuestra aplicación de agenda de cuentas bancarias es la solución que estás buscando. Con nuestra plataforma, podrás crear y personalizar tus propias cards para guardar todos los datos de tus cuentas bancarias en un solo lugar, y acceder a ellos de manera rápida y sencilla. Olvídate de perder tiempo buscando los números de cuenta correctos, y de preocuparte por la seguridad de tu información financiera. Únete a nuestra comunidad de usuarios satisfechos hoy mismo y empieza a simplificar tu vida financiera.
    </p>
  </div>
</div>
<section id="loginSection">

</section>
