<div class="modal-backdrop">
  <div class="modal-section">
    <div class="modal-header">
      <h5 class="section__title">Carga de cuentas bancarias</h5>
    </div>
    <div class="modal-body">
      <form class="section__form"(ngSubmit)="crear()" #modalForm="ngForm">
        <div class="input-containers">
          <i class="input-container__icon fa fa-user"></i>
          <input class="form-input" type="name" placeholder="Titular" required name="titular"
                 [(ngModel)]="nombres" #nombresInput="ngModel" (blur)="validateTitular()"
                 [ngClass]="{'input--rojo': nombresInput.invalid && (nombresInput.dirty || nombresInput.touched)}"
          >
          <div class="input__error"
               *ngIf="nombresInput.invalid && (nombresInput.dirty || nombresInput.touched)"
          >
      <span class="error-message">
        {{errorMessageTitular}}
      </span>
          </div>
        </div>
        <div class="input-containers">
          <i class="input-container__icon fa fa-envelope icon"></i>
          <input class="form-input" type="email" placeholder="Mail" required name="email"
                 [(ngModel)]="mail1" #mail1Input="ngModel" (blur)="validateEmail1()"
                 [ngClass]="{'input--naranja': mail1Input.invalid && (mail1Input.dirty || mail1Input.touched)}"
          >
        </div>
        <div class="input-containers">
          <i class="input-container__icon fa fa-envelope icon"></i>
          <input class="form-input" type="number" placeholder="CUIT/CUIL" required name="cuit"
                 [(ngModel)]="cuit" #cuitInput="ngModel" (keyup)="validateCuit()"
                 [ngClass]="{'input--naranja': cuitInput.invalid && (cuitInput.dirty || cuitInput.touched)}"
          >
        </div>
        <div class="input-containers">
          <i class="input-container__icon fa fa-university icon"></i>
          <input class="form-input" type="banco" placeholder="Banco" required name="banco"
                 [(ngModel)]="banco" #bancoInput="ngModel"
                 [ngClass]="{'input--naranja': bancoInput.invalid && (bancoInput.dirty || bancoInput.touched)}"
          >
          <div class="input__error"
               *ngIf="bancoInput.invalid && (bancoInput.dirty || bancoInput.touched)">
          </div>
        </div>
        <div class="input-containers">
          <i class="input-container__icon fa fa-asterisk icon"></i>
          <input class="form-input" type="sucursal" placeholder="Sucursal" required name="sucursal"
                 [(ngModel)]="sucursal" #sucursallnput="ngModel"
                 [ngClass]="{'input--naranja': sucursallnput.invalid && (sucursallnput.dirty || sucursallnput.touched)}"
          >
          <div class="input__error"
               *ngIf="sucursallnput.invalid && (sucursallnput.dirty || sucursallnput.touched)">
          </div>
        </div>
        <div class="input-containers">
          <i class="input-container__icon fa fa-credit-card icon"></i>
          <input class="form-input" type="Nro de cuenta" placeholder="Nro de cuenta" required name="ntoCta"
                 [(ngModel)]="nroCta" #nroCtaInput="ngModel"
                 [ngClass]="{'input--naranja': nroCtaInput.invalid && (nroCtaInput.dirty || nroCtaInput.touched)}"
          >
          <div class="input__error"
               *ngIf="nroCtaInput.invalid && (nroCtaInput.dirty || nroCtaInput.touched)">
          </div>
        </div>
        <div class="input-containers">
          <i class="input-container__icon fa fa-hashtag icon"></i>
          <input class="form-input" type="CBU" placeholder="CBU" required name="CBU"
                 [(ngModel)]="CBU" #CBUInput="ngModel"
                 [ngClass]="{'input--naranja': CBUInput.invalid && (CBUInput.dirty || CBUInput.touched)}">
          <div class="input__error"
               *ngIf="CBUInput.invalid && (CBUInput.dirty || CBUInput.touched)">
          </div>
        </div>
        <div class="input-containers">
          <i class="input-container__icon fa fa-address-card icon"></i>
          <input class="form-input" type="alias" placeholder="Alias" required name="alias"
                 [(ngModel)]="alias" #aliasInput="ngModel"
                 [ngClass]="{'input--naranja': aliasInput.invalid && (aliasInput.dirty || aliasInput.touched)}">
          <div class="input__error"
               *ngIf="aliasInput.invalid && (aliasInput.dirty || aliasInput.touched)">
          </div>
        </div>
        <button class="button-container__buttonFlat" type="submit"
                [disabled]="modalForm.invalid"
        >+
        </button>
      </form>
    </div>
  </div>
</div>
