<nav class="lanav">
  <div class="gridContainer">
    <div class="logoContainer">
      <a class="logo me-auto"><img src="assets/logo.png" alt="Logo" style="height: 25px;"></a>
    </div>
    <div class="busquedaContainer">
      <div>
      <form class="formContainer" #busquedaForm="ngForm">
        <input class="barraBusqueda me-2" type="search" placeholder="Buscar cuenta" aria-label="Search"
               name="buscarCuentasBar"[(ngModel)]="buscarCuentasBar" (ngModelChange)="buscarCuentas()" (keyup)="buscarCuentas()">
      </form>
      </div>
    </div>
    <div class="barContainer">
      <ul class="barList">
        <li class="barItems">
          <a class="barLinks" href="/home">Home</a>
        </li>
        <li class="barItems">
          <a class="barLinks" href="/profile">Profile</a>
        </li>
        <li class="barItems">
          <a class="barLinks" href="/landing" (click)="onLogout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
