<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="path/to/your/logo.png" alt="Logo"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: pink;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active" style="color: pink;">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing" routerLinkActive="active" style="color: pink;">LogOut</a>
        </li>
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar cuenta" aria-label="Search" [(ngModel)]="buscarCuentas" (ngModelChange)="buscarCuentas()">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
