<nav class="lanav">
  <div class="gridContainer">
    <div class="logoContainer">
      <a class="logo me-auto" href="#"><img src="path/to/your/logo.png" alt="Logo" style="height: 50px;"></a>
    </div>
    <div class="busquedaContainer">
      <form class="formContainer" #busquedaForm="ngForm">
        <input class="barraBusqueda me-2" type="search" placeholder="Buscar cuenta" aria-label="Search"
               name="buscarCuentasBar"[(ngModel)]="buscarCuentasBar" (ngModelChange)="buscarCuentas()">
      </form>
      <button class="botonBusqueda" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="spanBusqueda"></span>
      </button>
    </div>
    <div class="barContainer">
      <ul class="barList">
        <li class="barItems">
          <a class="barLinks" href="#home">Home</a>
        </li>
        <li class="barItems">
          <a class="barLinks" href="#profile">Profile</a>
        </li>
        <li class="barItems">
          <a class="barLinks" href="#landing" (click)="onLogout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
