<section id="loginSection">
  <h3>Iniciar sesión</h3>
  <form id="loginForm" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="divsInputs">
      <i class="fa fa-user icon"></i>
      <input class="inputsG" type="text" placeholder="Usuario |  Email  " required name="user" [(ngModel)]="user" #userInput="ngModel" (blur)="validateEmail()" [ngClass]="{'inputRojo': userInput.invalid && (userInput.dirty || userInput.touched)}">
      <div class="invalid-feedback" *ngIf="userInput.invalid && (userInput.dirty || userInput.touched)">
        <span class="error-message">
          {{errorMessageUser}}
        </span>
      </div>
    </div>
    <div class="divsInputs">
      <i class="fa fa-lock icon"></i>
      <input class="inputsG" id="inputIngresoContraseña" type="{{showPassword ? 'text' : 'password'}}" placeholder="Contraseña" required name="password" [(ngModel)]="password" #passInput="ngModel" [ngClass]="{'inputRojo': passInput.invalid && (passInput.dirty || passInput.touched)}">
      <i id="iIngresoContraseña" class="fa {{showPassword ? 'fa-eye' : 'fa-eye-slash'}} icon" (click)="togglePasswordVisibility()"></i>
      <div class="invalid-feedback" *ngIf="passInput.invalid && (passInput.dirty || passInput.touched)">
        <span class="error-message">
          {{errorMessagePass}}
        </span>
      </div>
    </div>
    <div class="divsBotones">
      <label id="checkboxLabel">
        <input id="checkbox" type="checkbox" value="Recordar usuario" name="rememberMe">
        Recordar usuario
      </label>
    </div>
    <div class="divsBotones">
      <button id="ingresar" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </div>
  </form>
</section>
