
#inputCrearUsuario {
  text-align: center;
  border: 0;
  border-radius: 0.25em;
  background-color: orange;
  color: #fff;
  font-size: 1em;
  width: 150px;
  height: 38px;
}

#inputCrearUsuario:hover {
  background-color: darkorange;
}

#inputCrearUsuario:disabled {
  text-align: center;
  border: 0;
  border-radius: 0.25em;
  background-color: darkorange;
  opacity: 0.5;
  color: #fff;
  font-size: 1em;
  width: 150px;
  height: 38px;
}

.botonesGestion:hover {
  cursor: pointer;
}

.extra .icon{
  font-size: 15px;
  opacity: 0.6;
  margin-top: 3px;
}

.extra i{
  position: absolute;
  transform: translateX(8px);
}

.extra input{
  background-color: #F2F2F2;
  padding-left: 30px;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

.extra:hover{
  color: var(--COLOR3);
  transition: 0.5s;
  opacity: 1;
  transform: translateY(3px);
}





.divsInputs {
  width: 100%;
  margin-bottom: 10px;
}
.divsInputs i{
  position: absolute;
}
.divsInputs input{
  padding-left: 40px;
  padding-right: 40px;
}
.divsInputs input:focus{
  border-color: var(--COLOR3);
  color: var(--COLOR3);
}

.login {
  border-color: #c9c9c9;
  border-width: 0 0 1px;
  background-color: white;
  margin-bottom: 15px;
  outline: none;
  width: 80%;
  padding: 14px;
}
