
<p>Completá tus datos para crear tu cuenta. Luego te pediremos que valides tu mail.</p>
<form id="formCrearUsuario">
  <div class="divsInput">
    <i class="fa fa-user icon"></i>
    <input id="inputRegistroUsuarior" type="name" class="login" placeholder="Usuario" required name="user">
  </div>
  <div class="divsInput">
    <i class="fa fa-envelope icon"></i>
    <input id="inputRegistroMail" type="email" class="login" placeholder="Mail" required name="email">
  </div>
  <div class="divsInput">
    <i class="fa fa-lock icon"></i>
    <input id="inputRegistroContraseña" type="password" class="login" placeholder="Contraseña" required name="password">
    <i id="iRegistroContraseña" class="fa fa-eye-slash icon"></i>
  </div>
  <div class="divsInput">
    <i class="fa fa-lock icon"></i>
    <input id="inputRegistroContraseñaRepetir" type="password" class="login" placeholder="Repetir contraseña" required name="password">
    <i id="iRegistroContraseñaRepetir" class="fa fa-eye-slash icon"></i>
  </div>
  <input id="inputCrearUsuario" type="Button" value="Crear usuario">
</form>
